version: "3.9"
services:
  redis: 
    image: redis:8-alpine
    volumes:
      - ${ROGUE_DATA}/redis:/data
    environment:
      ALLOW_EMPTY_PASSWORD: ${ALLOW_EMPTY_PASSWORD}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    networks:
      rogue-public:
    deploy:
      placement:
        constraints:
          # Make the traefik service run only on the node with this label
          # as the node with it has the volume for the certificates
          - node.labels.rogue_redis == true
      labels:
        - "traefik.enable=true"
        - "traefik.tcp.routers.redis.rule=HostSNI(`*`)"
        - "traefik.tcp.routers.redis.entryPoints=redis"
        - "traefik.tcp.routers.redis.service=redis"
        # services (needed for TCP)
        - "traefik.tcp.services.redis.loadbalancer.server.port=6379"
        - "traefik.docker.network=rogue-public"
        - "traefik.constraint-label=rogue-public"
###############################################################################
# Networks
###############################################################################
networks:
  rogue-public:
    external: true
