version: "3.9"
services:
  ###############################################################################
  # Keycloak authentication server
  ###############################################################################
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    # image: bitnamilegacy/keycloak:26
    hostname: keycloak
    # healthcheck:
    #   test: ["CMD", "curl", "--fail", "http://localhost:9000/health/ready"]
    #   interval: 5s
    #   timeout: 5s
    #   retries: 3
    #   start_period: 15s
    # environment:
    #   KEYCLOAK_DATABASE_USER: ${POSTGRES_USER}
    #   KEYCLOAK_DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
    #   KEYCLOAK_DATABASE_NAME: ${KEYCLOAK_DB}
    #   KEYCLOAK_DATABASE_HOST: postgres-db
    #   KC_HOSTNAME: ${KEYCLOAK_DOMAIN}
    #   KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
    #   KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
    #   PROXY_ADDRESS_FORWARDING: "false"
    #   KC_HOSTNAME_STRICT_HTTPS: "false"
    #   KEYCLOAK_ENABLE_HEALTH_ENDPOINTS: "true"
    #   KEYCLOAK_ENABLE_STATISTICS: "true"
    #   KEYCLOAK_PROXY_HEADERS: "xforwarded"
    #   KEYCLOAK_PRODUCTION: "true"
    #   TZ: Africa/Gaborone

    environment:
      KC_DB: postgres-db
      KC_DB_URL: jdbc:postgresql://postgres-db/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_DOMAIN} # Use a proper domain name in a real production environment
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
      KC_PROXY_HEADERS: xforwarded # Recommended when running behind a reverse proxy
      KC_HEALTH_ENABLED: "true"
      TZ: Africa/Gaborone
    command: [ "${KEYCLOAK_START}" ] 
    networks:
      rogue-public:
    deploy:
      placement:
        constraints:
          - node.labels.rogue_keycloak == true
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=rogue-public"
        - "traefik.constraint-label=rogue-public"
        - "traefik.http.routers.keycloak-http.rule=Host(`${KEYCLOAK_DOMAIN}`)"
        - "traefik.http.routers.keycloak-http.entrypoints=web"
        - "traefik.http.routers.keycloak-http.middlewares=https-redirect"
        - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
        - "traefik.http.routers.keycloak-https.entrypoints=websecure"
        - "traefik.http.routers.keycloak-https.rule=Host(`${KEYCLOAK_DOMAIN}`)"
        - "traefik.http.routers.keycloak-https.tls=${SSL_SECURE}"
        - "traefik.http.routers.keycloak-https.tls.certresolver=le"

###############################################################################
# Networks
###############################################################################
networks:
  rogue-public:
    external: true