version: "3.9"
services:
  ###############################################################################
  # Keycloak authentication server
  ###############################################################################
  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    # image: bitnamilegacy/keycloak:26
    hostname: keycloak
    healthcheck:
      # Use bash TCP redirect to check the ready endpoint on port 9000
      test: ["CMD-SHELL", "{ printf 'HEAD /health/ready HTTP/1.0\\r\\n\\r\\n' >&3; grep 'HTTP/1.0 200' <&3; } 3<>/dev/tcp/localhost/9000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-db/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_DOMAIN} # Use a proper domain name in a real production environment
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
      KC_PROXY_HEADERS: xforwarded # Recommended when running behind a reverse proxy
      KC_HEALTH_ENABLED: "true"
      TZ: Africa/Gaborone
    command: [ "${KEYCLOAK_START}" ] 
    networks:
      rogue-public:
    deploy:
      placement:
        constraints:
          - node.labels.rogue_keycloak == true
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=rogue-public"
        - "traefik.constraint-label=rogue-public"
        - "traefik.http.routers.keycloak-http.rule=Host(`${KEYCLOAK_DOMAIN}`)"
        - "traefik.http.routers.keycloak-http.entrypoints=web"
        - "traefik.http.routers.keycloak-http.middlewares=https-redirect"
        - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
        - "traefik.http.routers.keycloak-https.entrypoints=websecure"
        - "traefik.http.routers.keycloak-https.rule=Host(`${KEYCLOAK_DOMAIN}`)"
        - "traefik.http.routers.keycloak-https.tls=${SSL_SECURE}"
        - "traefik.http.routers.keycloak-https.tls.certresolver=le"

###############################################################################
# Networks
###############################################################################
networks:
  rogue-public:
    external: true